/* colors from https://www.wpi.edu/Images/CMS/Marketing/WPILogoUsage_QuickReferenceGuide.pdf */

td.snakecell {
  background-color: #FF1111;
}

td.emptycell {
  background-color: #CCCCCC;
}

td.foodcell {
  background-color:#1111FF;
}

td.level {
  font-size: 4em;
}

table.snaketable {
  border: 1px solid black;
  background-color: black;
  margin: auto;
}

table {
  background-color: white;
}

button.invisible {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
}

button:focus {
  outline:0;
}



button.upButton {
  font-size: 3em;
  height: 100px;
  width: 100px
}

button.downButton {
  font-size: 3em;
  height: 100px;
  width: 100px
}
