td.snakecell {
  display:inline;
  background-color:red;
}

td.emptycell {
  display:inline;
  background-color: white;
}

td.foodcell {
  display:inline;
  background-color:blue;
}

table.snaketable {
  display:inline;
  border: 1px solid black;
  background-color: gray;
  margin: auto;
}

button.invisible {
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
}

button:focus {
  outline:0;
}
